body {
  height: 1000px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 20px 0;
  color: crimson;
}
.dropdown-container {
  position: relative;
  width: 150px;
  margin: auto;
}

button {
  background: #4267b2;
  color: white;
  padding: 0.5rem;
  border: 1px solid #4267b2;
  border-radius: 0.2rem;
  min-width: 60px;
}

#dropdown-list {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  list-style: none;
  padding: 0;
  margin: 0;
}

#dropdown-list.display-block {
  display: block;
}

#dropdown-list li {
  min-width: 80px;
  padding: 8px 12px;
  cursor: pointer;
  border-bottom: 1px solid darkgray;
}

#dropdown-list li:hover {
  background-color: #ddd;
}

.content {
  text-align: center;
  width: 100%;
  padding: 100px 0;
}

.copyright {
  padding: 20px 0;
  text-align: center;
}
